html,
body {
    height: 100%;
}

a {
    color: black;
}

a:hover {
    text-decoration: none!important;
}

section {
    width: 100%;
}


.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex.column {
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.fixed {
    position: fixed;
    margin: 0;
    top: 0;
}

img#header_pic {
    height: 600px;
}

.wrapper_nav {
    width: 100%;
    border: 1px solid black;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    z-index: 99;
}

.wrapper_nav * {
    color: black
}

.nav#arrow {
    padding-right: 15px;
    text-align: right;
    font-size: 28px;
}

.flex.header_wrapper {
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap-reverse;
}

.book_room_button {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    height: 53px;
    line-height: 53px;
    vertical-align: middle;
    text-align: center;
    margin: 0 0 20px 10px;
    background-color: black;
    color: white;
    font-size: 24px;
    padding: 0 5px;
}

.book_room_button:hover {
    border: 1px solid black;
    background-color: white;
    color: black;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.inverse {
    background-color: black;
    color: white!important;
}

div.nav#empty {
    width: 20%;
}

div.nav#navigation {
    width: 60%;
}

div.nav#arrow {
    width: 20%;
}

.menu-small {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background: white;
    z-index: 9999;
}

.menu-small {
    display: none;
}

.menu-small:hover {
    cursor: pointer;
}

.line {
    height: 10px;
    width: 40px;
    box-sizing: border-box;
}

.line#last {
    margin: 9px 0;
}

.text_greetings {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 20px 0;
    margin-bottom: 20px;
}

.image_greetings {
    width: 20%;
    margin: 0 auto;
}

.image_greetings img {
    width: 100%;
}



section#booking {
    height: 600px;
}

.flex.booking {
    width: 100%;
    height: 100%;
    background-color: black; /* TODO: Change background Image */
}

.wrapper_booking {
    width: 275px;
    height: 275px;
    background-color: white;
    z-index: 3;
}

.wrapper_booking > .flex.column {
    font-size: 28px;
    height: 175px;
    margin-top: 50px;
}

a#booking {
    border: 2px solid black;
    padding: 4px 20px;
    color: black;
}

.flex.restaurant#second_row {
    flex-wrap: wrap-reverse;
}

div.restaurant {
    width: 100%;
}

div.restaurant > div {
    width: 50%;
    height: 300px;
}

.pizzeria.flex {
    background: url('../img/pizza.jpg') no-repeat fixed left;
    background-size: cover;
}

.text-center#pizzeria {
    border: 1px solid black;
    font-size: 28px;
    padding: 2px 4px;
    font-weight: bold;
    color: black;
}

.text-center#chief > div {
    margin: 0 auto;
}

.describe_chief#label {
    background-color: black;
    color: white;
    font-style: italic;
    font-size: 28px;
    padding: 2px 4px;
    width: 165px;
}

.describe_chief#text {
    width: 70%;
}

.menu_working-hours.flex.column div {
    width: 100%;
}

.working_hours {
    text-align: center;
    font-size: 18px;
}

.menu_working-hours.flex.column > .working_hours > div.flex {
    width: 50%;
    margin: 0 auto;
}

.text-center#menu {
    background-color: black;
    color: white;
    font-size: 28px;
    padding: 4px 14px;
    font-weight: bold;
}

.restaurant_cell.flex {
    background: url('../img/carne.jpg') no-repeat fixed right;
    background-size: cover;
}

.text-center#restaurant {
    border: 1px solid white;
    font-size: 28px;
    padding: 2px 4px;
    color: white;
}

section#blog {
    padding: 20px 0;
}

.flex#blog {
    width: 80%;
    margin: 0 auto;
}

.blog_cell_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    border: 1px solid #aaaaaa;
    text-align: center;
    padding: 27px 0;
}

.blog_image {
    width: 190px;
    height: 190px;
    margin-top: 20px;
    background-color: #1c7430; /* TODO: Add photos */
}

.blog_label {
    margin: 10px 0;
    font-size: 28px;
    font-weight: bold;
}

.flex#look_more {
    padding: 10px 0;
}

.text-center#look_more {
    font-size: 28px;
    color: white;
    background-color: black;
    font-style: italic;
    padding: 0 20px;
}

.text-center#we_are_here {
    font-size: 28px;
    font-weight: bold;
}

.text-center#map_text {
    margin-bottom: 20px;
}

.text_map {
    width: 400px;
    margin: 0 auto;
}

.show_me_the_way {
    font-size: 28px;
    padding: 4px 8px;
    width: max-content;
    width: -moz-max-content;
    border: 2px solid black;
    margin: 0 auto;
}

.google_map > iframe {
    height: 500px;
    width: 500px;
}

.footer {
    background-color: #333333;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

div.socials {
    padding: 80px 0;
}

a.social {
    width: 40px;
    height: 40px;
    background-size: cover;
}

a.social#google {
    background-image: url('../img/social/google.jpg');
}

a.social#facebook {
    background-image: url('../img/social/fb.jpg');
}

a.social#twitter {
    background-image: url('../img/social/twitter.jpg');
}

a.social#vk {
    background-image: url('../img/social/vk.jpg');
}

.wrapper_contacts.flex.column, .wrapper_signup.flex.column {
    align-items: flex-start;
    justify-content: space-between;
    color: white;
    height: 300px;
}

.wrapper_signup.flex.column {
    align-items: center;
}

.wrapper_contacts.flex.column a {
    color: white;
}

.contacts {
    justify-content: flex-start;
    min-width: 400px;
}

.contacts#label, .signup#label {
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}

.contacts > span {
    font-size: 28px;
    margin-right: 20px;
}

.wrapper_signup > img {
    width: 220px;
}

.signup#submit {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: white;
    margin-bottom: -124px;
}





@media (max-width: 1024px) {

    img#header_pic {
        width: 100%;
        height: auto;
    }

    div.restaurant > div {
        width: 100%;
    }

    .header_right#logo {
        width: 100%;
        background-color: black;
        text-align: center;
    }

    .book_room_button {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .flex#blog {
        width: 100%;
    }

    .blog_cell_wrapper {
        width: 50%;
    }

    .google_map {
        width: 100%;
        margin-top: 30px;
    }

    .google_map > iframe {
        width: 100%;
    }

    @media (max-width: 700px) {

        .menu-small {
            display: flex;
        }

        .blog_cell_wrapper {
            width: 100%;
        }

        .nav#navigation {
            flex-direction: column;
            height: 100%;
        }

        .wrapper_nav {
            display: none;
             height: 0;
        }

        a.navigation {
            display: inline-flex;
            align-items: center;
            height: 25%;
            width: 100%;
            text-align: center;
        }

        .nav#arrow {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
        
        .nav#arrow > a{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }
}


@media (min-width: 1024px) and (max-width: 1766px) {
    img#header_pic {
        height: 400px;
    }
}

